<div class="containe-modal">

    <div class="marge-div">
        <h3 class="titulo-modal-cadastrar">Cadastrar Compra</h3>
        <div class="col-g2 btn-fechar" (click)="closedDialog()"></div>
    </div>
    
    <div class="marge-div">

        <div class="marge-div-ind" *ngIf="indAtivo"><p class="title">ATIVO:</p>
            <select #campoAtivo class="campo-input" (change)="verificarCampoAtivo(campoAtivo.value)">
                <option></option>
                <option *ngFor="let acao of _acaoList">{{acao.nomeAcao}}</option>  
            </select>
        </div>

        <div class="marge-div-ind" *ngIf="indQtd"><p class="title">QUANTIDADE:</p><input #campoQtd *ngIf="indQtd" id="campoQtd" class="campo-input" placeholder="0" type="text" maxlength="99999" (keyup)="verificarCampoQtd(campoQtd.value)" /></div>
        <div class="marge-div-ind" *ngIf="indVlrCompra"><p class="title">VLR. COMPRA:</p><input #campoVlrCompra [value]="_campoVlrCompra | moeda" *ngIf="indVlrCompra" id="campoVlrCompra" class="campo-input" placeholder="0,00" type="text" maxlength="7" (keyup)="verificarCampoVlrCompra(campoVlrCompra.value)" /></div>
        <div class="marge-div-ind" *ngIf="indTotal"><p class="title">TOTAL:</p><input #campoTotal [value]="_campoTotal | moeda" disabled *ngIf="indTotal" id="campoTotal" class="campo-input" placeholder="Valor Total" type="text" maxlength="9999999" (keyup)="verificarCampoTotal(campoTotal.value)" /></div>
        <div class="marge-div-ind" *ngIf="indData"><p class="title">DATA COMPRA:</p><input #campoData [value]="_campoData | dataBR" *ngIf="indData" id="campoData" class="campo-input" type="text" maxlength="10" (keyup)="verificarCampoData(campoData.value)" /> </div>
        
        <div *ngIf="indReview">
            <div class="painel-review">
                <p class="desc">Ativo:</p><p class="review">{{_campoAtivo}}</p>
            </div>
            <div class="painel-review">
                <p class="desc">Quantidade:</p><p class="review">{{_campoQtd}}</p>
            </div>
            <div class="painel-review">
                <p class="desc">Vlr. Ativo:</p><p class="review">{{_campoVlrCompra}}</p>
            </div>
            <div class="painel-review">
                <p class="desc">Total:</p><p class="review">{{_campoTotal | moeda}}</p>
            </div>
            <div class="painel-review">
                <p class="desc">Data Compra:</p><p class="review">{{_campoData}}</p>
            </div>
        </div>
        
        <div class="painel-button">
            <button *ngIf="indBotSalvar" class="button adicionar" (click)="cadastrarCompra()">Salvar</button>
            <button *ngIf="indBotProximo" class="button adicionar" (click)="proximo()">Próximo</button>
            <button *ngIf="indBotVoltar" class="button cancelar" (click)="voltar()">Voltar</button>            
        </div>
    </div>

</div>