<div class="title"><p>Investimentos</p></div>

<app-button-painel
    [indEditar]=false
    (notifyCadastrar)="inserirCompra()">
</app-button-painel>

<div class="sub-title"><p>Ativos</p></div>

<div class="painel on">
    <app-card *ngFor="let compraAtiva of _compraList"
        [ativo]="compraAtiva.acao.nomeAcao"
        [quantidade]="compraAtiva.quantidade"
        [valorUnitario]="compraAtiva.ultimoValorCompra"
    ></app-card>
</div>

<div class="sub-title"><p>Fechados</p></div>

<div class="painel close">
    <app-card></app-card>
</div>