<div class="title"><p>Investimentos</p></div>

<app-button-painel
    [indEditar]=false
    (notifyCadastrar)="inserirCompra()">
</app-button-painel>

<div class="sub-title"><p>Ativos</p></div>

<div class="painel on">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>

<div class="sub-title"><p>Fechados</p></div>

<div class="painel close">
    <app-card></app-card>
</div>